* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
nav
section
ul{
    display: inline;
    width: 100%;
    padding-inline-end: 3rem;
}

h1 {
    cursor: pointer;
}
.topnav-heading {
    color: #00C3A5;
    font-size: small;
    font-weight: 300px;
    display: inline-block;
}

.hide{
    color: grey;
}

.hide:hover{
    color: #00C3A5;
}

.images{
    padding-left: ;

}

.topnav > ul >  a{
    color: grey;
    font-family:  roboto;
    font-size: xx-small;
    font-weight: 100px;
    
}

.topnav > ul > a:hover{
    color: #00C3A5;
}

.heading-2 > div > h1{
    color: #00C3A5;
    font-size: small;
    padding-top: 2rem;
    padding-bottom: 0rem;
    padding-right: 3rem;
    padding-left: 3rem;

}

.heading-2 > div > p{
    color: grey;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: xx-small;
    margin-top: auto;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: auto;
}

.heading-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 1em;
}